    <div class="container-fluid">
        <div class="container d-flex justify-content-center mt-4">
            <section>
                <div class="product">
                  <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
                  <div class="description">
                    <h3>Stubborn Attachments</h3>
                    <h5>$20.00</h5>
                  </div>
                </div>
                <form action="/create-checkout-session" method="POST">
                  <button class="btn btn-success" type="submit" id="checkout-button">Checkout</button>
                </form>
              </section>
        </div>
    </div>
    