<div class="container success-container">
  <div class="close">
    <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" routerLink="">X</span>
    </button>
  </div>
  <div class="card">
    <img class="card-img" src="../../assets/Vector.png" />
    
    <!-- <div class="card-body"> -->
      <h3><b>Purchase Successful</b></h3>
      <p class="card-text">You will get your product soon!</p><br>
      <p class="card-text">
        Get ready to experience the spatial audio with adaptive EQ that tunes
        music to your ears.
      </p>
    <!-- </div> -->
  </div>
</div>
<section style="text-align: center; margin-top: 40px;">
  <p>
    We appreciate your business! If you have any questions, please email
    <a href="rrohan419@gmail.com">rrohan419@gmail.com</a>.
  </p>
</section>
