<div class="container-fluid product-details-area">
    <div class="container-fluid product-header-div">
        <!-- <div class="col-md-6 col-lg-6"> -->
            <label class="product-header">About Product</label>
        <!-- </div> -->
        <!-- <div class="col-md-6 col-lg-6 product-header"> -->
            <label class="product-price m-3"><b>Price : $299.00</b></label>
            <input type="number" class="input-lg input-md product-quantity m-3" min="1" max="3" placeholder="1">
            <button class="btn btn-primary m-3 button-buy">Buy Now</button>
        <!-- </div> -->
    </div>
    <div class="row">
        <div class="container-fluid col-md-7 col-lg-7 product-discription-area">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-8 col-lg-8" style="text-align:left;">
                    <label class="product-company-name">APPLE PRODUCT</label>
                    <h2>New Apple Airpods (3rd Generation)</h2>
                    <label class="mt-3 mb-3">its magic remastered</label>
                    <ul>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                        <li>abcd abcd</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid col-md-5 col-lg-5 product-image-area">
            <h3>gsgd</h3>
        </div>
    </div>
</div>