<div class="container-fluid header">
  <div class="container product-header-div d-flex align-items-center justify-content-between">
    <span class="product-header">About Product</span>
    <div class="product-header-div-right">
      <span class="product-price"><b>Price : $299.00</b></span>
      <input
        type="number"
        class="input-lg input-md product-quantity"
        min="1"
        max="3"
        value="1"
      />
      <button class="btn btn-primary button-buy">Buy Now</button>
    </div>
  </div>
</div>
<div class="container-fluid product-details-area">
  <div class="row">
    <div class="container-fluid col-md-7 col-lg-7 product-discription-area">
      <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div
          class="col-md-8 col-lg-8 product-discription-area-child"
          style="text-align: left"
        >
          <label class="product-company-name">APPLE PRODUCTS</label>
          <h2>New Apple Airpods (3rd Generation)</h2>
          <label class="mt-3 mb-3">its magic remastered</label>
          <ul>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
            <li>abcd abcd</li>
          </ul>
          <br />
          <span style="font-weight: 300; color: #000000">SKU D5515AI</span>
        </div>
      </div>
    </div>
    <div class="container-fluid col-md-5 col-lg-5 product-image-area">
      <div class="container product-image-div">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img
                src="../../assets/image 10.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-md-block"></div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="../../assets/image 10.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-md-block"></div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="../../assets/image 10.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-md-block"></div>
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button> -->
        </div>
        <!-- <img src="../../assets/image 10.png" alt=" loding image..."> -->
      </div>
    </div>
  </div>
</div>
