.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  font-size: 20px !important;
  padding: 0px !important;
  border: none;
}
.nav-container {
  height: 92px;
}
.logo {
  width: 33.47px;
}

.nav-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: black;
  margin-left: 24px;
}
.nav-laptop {
  margin-left: 58.3px;
}

@media screen and(max-width: 991px) {
  .nav-container {
    height: auto;
  }
  .nav-item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: black;
    margin-left: 24px;
    margin: auto;
  }
  .navbar-toggler-icon {
    font-size: 25px;
  }
  .nav-bar {
    position: fixed;
    margin-top: 45px;
    z-index: 99;
  }
  .nav-bar {
    background-color: white;
  }
}
