<div class="container-fluid contact-info">
    <div class="container contact-details">
        <span class="contact-timing">Mon-Thu : 9:00 AM - 5:30 PM</span>
        <span class="contact-number">Call Us : (00)12345678</span>
    </div>    
</div>

<div class="container-fluid nav-bar">
    <div class="container nav-container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-brand"><img class="logo" src="../assets/Vector 24.png"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link nav-laptop">Laptop</a>
                    <a href="#" class="nav-item nav-link nav-desktop">Desktop PCs</a>
                    <a href="#" class="nav-item nav-link nav-networking">Networking Device</a>
                    <a href="#" class="nav-item nav-link nav-printers">Printers and Scanners</a>
                    <a href="#" class="nav-item nav-link nav-ports">PC Ports</a>
                    <a href="#" class="nav-item nav-link nav-all-other">All Other Products</a>
                    <a href="#" class="nav-item nav-link nav-repair">Repairs</a>
                </div>
            </div>
        </nav>
    </div>
</div>


<div class="container-fluid">
    <app-product-detail></app-product-detail>
</div>